.favorites-container {
    background-color: var(--color-core-background);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    
    .favorites-inner {
        padding: 48px 24px;
        width: 50%;

        .page-title {
            font-family: 'Creepster Regular';
            font-size: 48px;
            color: var(--font-inner);
            -webkit-text-stroke: 1px var(--font-outline);
        }
    }
}