<div class="favorites-container">
    <div class="favorites-inner">
        <div class="favorites-head">
            <p class="page-title">Favoritos</p>
        </div>
        <div *ngIf="favoriteCharactersArray.length > 0" class="characters-container">
            <div class="character-card" *ngFor="let character of favoriteCharactersArray">
                <img class="character-img" src="{{character.image}}" alt="">
                <div class="favorite-icon-container character-is-favorite" (click)="removeFromFavorites(character.id)">
                    
                    <svg class="favorite-icon" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path 
                        d="M6.83594 16.7578C5.66406 15.6641 5 14.1016 5 12.4609V12.2656C5 9.53125 6.95312 7.1875 
                        9.64844 6.75781C11.4453 6.44531 13.2422 7.03125 14.5312 8.28125L15 8.75L15.4688 8.28125C16.7188 
                        7.03125 18.5547 6.44531 20.3125 6.75781C23.0078 7.1875 25 9.53125 25 12.2656V12.4609C25 14.1016 
                        24.2969 15.6641 23.125 16.7578L16.0547 23.3594C15.7812 23.6328 15.3906 23.75 15 23.75C14.5703 
                        23.75 14.1797 23.6328 13.9062 23.3594L6.83594 16.7578Z" fill="#0A0A0A"/>
                    </svg>
                </div>
                <div class="character-info-container">
                    <p class="character-name">{{character.name}}</p>
                    <p class="character-species">{{character.species}}</p>
                    <p class="character-type">{{character.type}}</p>
                </div>
            </div>
        </div>

        <div *ngIf="favoriteCharactersArray.length === 0" class="no-results-container">
            <h1 class="no-results-title">Não há nenhum personagem favorito</h1>
            <h2 class="no-results-subtitle">Volte à página inicial e favorite alguns personagens</h2>
        </div>
    </div>
</div>
